<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/CSS/index.css" />
    <script src="/components/Carousel/Carousel.js" async></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sprint Challenge Carousel</title>
</head>
<body>
    <div class="carousel">
        <div class="left-button"> < </div>
        <img src="/assets/carousel/mountains.jpeg" />
        <img src="/assets/carousel/computer.jpeg" />
        <img src="/assets/carousel/trees.jpeg" />
        <img src="/assets/carousel/turntable.jpeg" />
        <div class="right-button"> > </div>
      </div>
</body>
</html>